{% extends "navbar.html" %}

{% load static %}

{% block divheader %}
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Thay Đổi Mật Khẩu</h1>
            <a href="{% url 'index' %}" class="h5 text-white">Trang Chủ</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Thay Đổi Mật Khẩu</a>
        </div>
    </div>
{% endblock divheader %}

{% block content %}

    <!-- Testimonial Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-success text-uppercase">Thay Đổi Mật Khẩu</h5>            
                <h1 class="mb-0">Thay Đổi Mật Khẩu Của Bạn</h1>
            </div>
            <div class="container">
                <div class="row">
                        <div class="col-12">
                            <!-- Form START -->
                            <form action="" method=POST>    
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="inputPassword" class="form-label">Nhập Mật Khẩu Cũ</label>
                                        {{form.old_password}}
                                    </div>
        
                                    <div class="col-md-12">
                                        <label for="inputPassword" class="form-label">Nhập Mật Khẩu Mới</label>
                                        {{form.new_password1}}
                                    </div>
        
                                    <div class="col-md-12">
                                        <label for="inputPassword" class="form-label">Xác Nhận Lại Mật Khẩu</label>
                                        {{form.new_password2}}
                                    </div>
                                </div>
        
                                <h4 class="mt-4">Quy Tắc</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">1. Mật khẩu của bạn không được quá giống với thông tin cá nhân khác của bạn.</li>
                                    <li class="list-group-item">2. Mật khẩu của bạn phải chứa ít nhất 8 ký tự.</li>
                                    <li class="list-group-item">3. Mật khẩu của bạn không thể là mật khẩu thường được sử dụng.</li>
                                    <li class="list-group-item">4. Mật khẩu của bạn không được hoàn toàn bằng số.</li>
                                </ul>
                                <!-- <button type="submit" class="btn btn-block btn-success py-3 px-5">Change Password</button> -->  
                                <button type="submit" class="btn btn-secondary">Thay Đổi Mật Khẩu</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Testimonial End -->


{% endblock content %}